<div id="container">
  <input id="url" type="text" value="" />
  <button onclick="javascript:loadVideo()">Load Video</button>
  <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
  <div id="player"></div>
</div>