<div id="container">
  <div class="box">
    <h2>YouTube Live</h2>
    <p>Watch YouTube together!</p>
  </div>
  <div class="box2">
    <h2>What would you like to do?</h2>
    <ul>
      <li><a href="/host">Be a host</a></li>
      <li><a href="/view">Be a viewer</a></li>
    </ul>
  </div>
</div>