<!DOCTYPE html>
<html>
<head>
  <title>YouTube Live</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src='components/jquery/dist/jquery.min.js'></script>
  <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
  <script type="text/javascript" src="js/swfobject.js"></script> 
</head>
<body>
  <%- body %>
</body>
</html>
